@import './variables.scss';

.appScreenList{
    height:100%;
    width:100%;
}

.appScreenContainer{
    margin:0 auto;
    width:90%;

    h3{
        font-size:2rem;
        text-transform:uppercase;
        text-align: center;
    }
    ul{
        @include cleanUl;
        display:flex;
        flex-wrap: wrap;
    }
    li{
        margin-top:1rem;
        margin-bottom:1rem;
        width:calc(100%/3);
        text-align: center;
    }
    button{
        @include menuItemButton;
        border:2px solid darkblue;
        background-color: darkblue;
    }
}