@import './variables.scss';

.backendDash{
    .buttonContainer{
        height:80vh;
        @include flexCenterCenter;
    }
    h2{
        margin:0 auto;
        text-align: center;
        font-size:4rem;
    }
    ul{
        @include cleanUl;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width:100%;
    }
    li{
        height:300px;
        width:300px;
        text-align: center;
    }
    img{
        width:100%;
    }
}