@import './variables.scss';

.backendDash, .employeeData, .menuData, .paymentData, .settingsData, .tableData{
    height:100vh;
    background-color: $backDashBackgroundColor;
}

.backendDash{
    .buttonContainer{
        height:75vh;
        @include flexCenterCenter;
    }
    h2{
        margin:0 auto;
        text-align: center;
        font-size:4rem;
    }
    ul{
        @include cleanUl;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width:80%;
    }
    li{
        width:33%;
        text-align: center;
        @include flexColumnCenter;
        margin-bottom:2rem;
    }
    img{
        height:300px;
        width:300px;
    }
}

.backDashHeader{
    display:flex;
    justify-content: center;
    position: relative;

    h2{
        font-size:3rem;
        margin:0;
    }
    .infoButton{
        position:absolute;
        top:-5%;
        right:33%;

        button{
            background-color:$backDashBackgroundColor;
            border:none;
            font-size:3rem;
        }
        p{
            top:15px;
            left:-12px;
        }
    }
}

.backDataList{
    background-color:white;
    margin:1rem auto;
    border:2px solid black;
    max-width:90%;
    height:275px;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;

    h3{
        margin:0.25rem auto 1rem;
        font-size:1.5rem;
    }
    ul{
        width:100%;
        flex-wrap:wrap;
    }
    li{
        width:20%;
    }
    button{
        margin:0 auto;
    }
}

.newItemButton{
    width:250px;
    border-color:green;
    border-radius:10px;
    background-color:green;
    color:white;
    font-size:1.25rem;
}

.deleteItemButton{
    border-color:red;
    background-color:red;
}

button.newItemButton:active{
    background-color:lighten(green, 10%);
}

button.deleteItemButton:active{
    background-color:darken(red, 10%);
}

