@import './variables.scss';

.activeCheck, .seperatedCheck{
    background-color: white;
    border:4px solid black;
    overflow-y: scroll;

    h2, h3{
        margin:0.5rem auto;
        text-align: center;
    }
}

.activeCheck{
    width:20%;
    height:90%;

    th{
        text-align: left;
    }
    footer{
        margin:0 auto;
        width:90%;
        display:flex;
        justify-content: space-between;
    }
}

.checkSeatInfo{
    width:80%;
    margin:10px auto;

    .checkItemCost, .receiptItemCost{
        text-align: right;
    }
}

.pendingOrder, .pendingSeat{
    color:blue;
    background-color: lightblue;
}

.checkTabDisplay{
    width:80%;
    height:90%;
    border:2px solid black;
    @include flexColumnCenter;
}

.seperatedChecksContainer{
    width:100%;
    height:100%;
    padding:1rem;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap:1rem;
}
