@import './variables.scss';

.activeCheck, .seperatedCheck{
    background-color: white;
    border:4px solid black;
    overflow-y: scroll;

    h2, h3{
        margin:0.5rem auto;
        text-align: center;
    }
    footer{
        margin:0 auto;
        width:90%;
        display:flex;
        justify-content: space-between;
    }
}

.activeCheck{
    width:20%;
    height:90%;

    th{
        text-align: left;
    }
}

.summaryTabDisplayContainer {
    .activeCheck{
        width:70%;
        height:100%;
    }
    .seatsAndOrders{
        display:flex;
        flex-wrap: wrap;
    }
    table{
        margin:1rem 2rem;
        width:calc((100% / 3) - 4rem)
    }
    footer{
        font-weight: bold;
        text-decoration: underline;
        width:50%;
    }
}

.paymentTab{
    .activeCheck{
        width:30%;
    }
}

.checkSeatInfo, .receiptSeatInfo, .pendingSeperateSeat{
    width:80%;
    margin:10px auto;

    .checkItemCost, .receiptItemCost{
        text-align: right;
    }
}

.pendingOrder, .pendingSeat, .pendingSeperateSeat{
    color:blue;
    background-color: lightblue;
}

.checkTabDisplay{
    width:80%;
    height:90%;
    border:2px solid black;
    @include flexColumnCenter;
    h2{
        color:white;
        margin:0 auto;
        // 16px-20px
        font-size: clamp(1rem, 0.8566rem + 0.3279vw, 1.25rem);
    }
}

.seperatedChecksContainer{
    overflow-y: scroll;
    width:100%;
    height:100%;
    padding:1rem;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    gap:1rem;
}

.seperatedCheck{
    height:400px;
}

.summaryReceipts{
    border:4px solid black;
    width:40%;
    overflow-y: scroll;

    h2{
        text-align: center;
        color:$fireItColor;
        margin:0.5rem auto;
    }
    ul{
        @include cleanUl;
        display:flex;
        flex-wrap:wrap;
        @include flexCenterCenter;
    }
    button{
        height:300px;
        width:250px;
        margin:1rem 0.5rem;
        border:2px solid black;
        border-radius:10px;
        background-color:white;
        @include flexCenterCenter;
    }
    .unSettledReceipt{
        background-color: lightpink;
    }
    .settledReceipt{
        background-color: lightgreen;
    }
    table{
        width:100%;
        height:100%;
    }
    tbody{
        overflow-y: scroll;
    }
    td{
        text-align: center;
    }
    .receiptSavedPayments{
        display:flex;
        justify-content: space-evenly;
        text-transform: capitalize;
        font-size: 1rem;
    }
}

@media (min-width:1000px) and (max-width:1220px){
    .activeCheck{
        width:30%;
    }
    .checkTabDisplay{
        width:70%;
    }
    .seperatedChecksContainer{
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (min-width:1220px) and (max-width:1420px){
    .activeCheck{
        width:25%;
    }
    .checkTabDisplay{
        width:75%;
    }
    .seperatedChecksContainer{
        grid-template-columns:repeat(3, 1fr);
    }
}

@media (min-width:1420px) and (max-width:1619px){
    .activeCheck{
        width:25%;
    }
    .checkTabDisplay{
        width:75%;
    }
    .seperatedChecksContainer{
        grid-template-columns:repeat(4, 1fr);
    }
}
