@import './variables.scss';

.employeeData{
    height:100vh;
    background-color: $backDashBackgroundColor;

    header{
        @include backDashHeader;
    }
    h2{
        font-size: 3rem;
        margin:0.5rem auto;
    }
    h3{
        text-align: center;
    }
}

.employeeDataContainer{
    margin:0 auto;
    border:2px solid black;
    background-color: white;
    width:50%;
    height:350px;
    overflow-y: scroll;

    table{
        width:100%;
        text-align: center;
    }
    th{
        border-bottom: 2px solid black;
    }
    tr{
        cursor: pointer;
    }
    td{
        border-bottom: 2px solid rgba(0, 0, 0, 0.25);
        width:calc(100% / 3);
    }
}

.employeeForm{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width:90%;
    margin:2rem auto 0rem;

    div{
        margin:1rem auto;
        display:flex;
        flex-direction: column;
        
    }
    textarea{
        margin:0 auto;
    }
    button{
        border-radius: 5px;
    }
}

.employeeFormCalendar{
    transform: translateY(12px);

    div{
        margin:0 auto;
    }
    p{
        margin:0;
    }
}

.employeeButtonContainer{
    width:100%;
}

div.employeeSubmit{
    margin:0 auto;
    width:100%;
    flex-direction: row;
    justify-content: space-evenly;

    button:first-child{
        border:2px solid green;
    }
    button:nth-child(2){
        border:2px solid red;
    }
}

.employeeActivateFirebase{
    @include flexCenterCenter;
    flex-direction: column;
    margin-top: 1rem;
    
    h3, p{
        margin:0.5rem auto;
    }
}