@import './variables.scss';

.menuTab, .tableTab, .checkTab, .paymentTab, .summaryTab{
    .fireItAlert{
        background-color:$backgroundColor;
    }
}

.menuData, .tableData, .settingsData, .paymentData, .employeeData{
    .fireItAlert{
        background-color:$backDashBackgroundColor;
    }
    .infoButton{
        button{
            background-color:$backDashBackgroundColor;
        }
    }
}

.fireItAlert{
    height:400px;
    width:400px;
    border:4px solid black;
    @include flexColumnCenter;

    .padError{
        margin:2rem auto;
    }
}

.popUpModal{
    .fireItAlert, .messageOfTheDay{
        .infoButton{
            right:0%;
            margin-top:1rem;

            button{
                font-size: 4rem;
                border:none;
            }
            p{
                text-transform: capitalize;
                width:200px;
                font-size: 1.5rem;
                top:10px;
                left:-50px;
            }
        }
    }
}

