.frontDash {
  height: 100vh;
}

.summaryTab, .tableTab, .menuTab, .checkTab, .paymentTab {
  position: relative;
  height: 92.5vh;
}
.summaryTab .infoButton, .tableTab .infoButton, .menuTab .infoButton, .checkTab .infoButton, .paymentTab .infoButton {
  background-color: #4a5e6b;
}
.summaryTab .infoButton button, .tableTab .infoButton button, .menuTab .infoButton button, .checkTab .infoButton button, .paymentTab .infoButton button {
  background-color: #4a5e6b;
  border: 2px solid #4a5e6b;
  padding: 0;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .summaryTab button.infoButton p, .tableTab button.infoButton p, .menuTab button.infoButton p, .checkTab button.infoButton p, .paymentTab button.infoButton p {
    width: 75px;
  }
}
.menuTab, .checkTab, .summaryTabDisplayContainer, .paymentTab {
  display: flex;
}

.frontDashTopNav {
  height: 7.5vh;
  border-bottom: 4px solid black;
  display: flex;
  align-items: center;
}
.frontDashTopNav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.frontDashTopNav li {
  cursor: pointer;
  color: white;
  font-size: clamp(1.25rem, 0.5328rem + 1.6393vw, 2.5rem);
}
.frontDashTopNav .activeTopNav {
  text-decoration: underline;
}

.frontLowerNav {
  background-color: #4a5e6b;
  border-top: 4px solid black;
  height: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.frontLowerNav button {
  cursor: pointer;
}
.frontLowerNav ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.frontLowerNav ul, .frontLowerNav li, .frontLowerNav button {
  height: 100%;
}
.frontLowerNav .workingButton, .frontLowerNav .nonWorkingButton, .frontLowerNav li {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.frontLowerNav .workingButton, .frontLowerNav .nonWorkingButton, .frontLowerNav .navCurrentUser {
  font-size: clamp(0.8rem, 0.3125rem + 0.7813vw, 1.5rem);
}
.frontLowerNav .workingButton {
  border: 2px solid darkgreen;
  background-color: green;
}
.frontLowerNav button.workingButton:active {
  background-color: #009a00;
}
.frontLowerNav .nonWorkingButton {
  border-color: darkred;
  background-color: darkred;
}
.frontLowerNav button.nonWorkingButton:active {
  background-color: #ff1a1a;
}
.frontLowerNav li {
  width: clamp(5rem, 2.1429rem + 4.4643vw, 7.5rem);
  display: flex;
  align-items: center;
}
.frontLowerNav button {
  width: 100%;
}
.frontLowerNav button.infoButton p {
  transform: translateX(-50%);
  left: 50%;
  font-size: clamp(1rem, 0.3125rem + 0.7813vw, 1.25rem);
}

@media (min-width: 700px) and (max-width: 1420px) {
  .frontLowerNav button.infoButton {
    scale: 0.95;
  }
}
.navCurrentUser {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: darkblue;
}

.summaryTabDisplayContainer {
  margin: 0 auto;
  width: 90%;
  height: 90%;
}/*# sourceMappingURL=frontdash.css.map */