@import './variables.scss';

.navTabs{
    height:7.5vh;
    border-bottom:2px solid black;
    display:flex;
    align-items: center;

    ul{
        padding:0;
        margin:0 auto;
        width:100%;
        list-style:none;
        display:flex;
        justify-content:space-evenly;
    }
    li{
        cursor: pointer;
    }
}