@import './variables.scss';

.summaryTab, .tableTab, .menuTab, .checkTab, .paymentTab{
    position:relative;
    height:92.5vh;
    display:flex;

    .infoButton{
        background-color:$backgroundColor;

        button{
            background-color:$backgroundColor;
            border:2px solid $backgroundColor;
            padding:0;
        }
    }
}

.frontDashTopNav{
    height:7.5vh;
    border-bottom:2px solid black;
    display:flex;
    align-items: center;

    ul{
        @include cleanUl;
        width:100%;
        display:flex;
        justify-content:space-evenly;
    }
    li{
        cursor: pointer;
        color:white;
        font-size:2rem;
    }
}

.frontLowerNav{
    background-color: $backgroundColor;
    @include frontLowerNav;
    @include frontLowerNavUL;

    ul, li, button{
        height:100%;
    }
    .workingButton, .nonWorkingButton, li{
        color:white;
        text-transform: uppercase;
        font-size: 1.25rem;
        text-align: center;
    }
    .workingButton{
        border:2px solid darkgreen;
        background-color: green;
    }
    button.workingButton:active{
        background-color:lighten(green, 5%);
    }
    .nonWorkingButton{
        border-color:darkred;
        background-color:darkred;
    }
    button.nonWorkingButton:active{
        background-color:lighten(red, 5%);
    }
    li{
        width:150px;
        display:flex;
        align-items: center;
    }
    button{
        width:100%;
    }
}

.navCurrentUser{
    @include flexCenterCenter;
    text-align: center;
    background-color: darkblue;
}
