@import './variables.scss';

.frontDashHelpContainer, .backDashHelpContainer{
    @include flexColumnCenter;
    height:90%;
    width:90%;
    border:4px solid black;
}

.frontDashHelpContainer{
    background-color:$backgroundColor;
}

.frontDashHelpNav{
    width:80%;
    margin:10px auto 0px;
    display:flex;
    justify-content: space-evenly;

    button{
        width:250px;
        height:50px;
    }
}

.frontUserGuideContainer, .backUserGuideContainer{
    height:100%;
    width:100%;
    display:flex;
    justify-content: space-evenly;

    h3{
        text-align: center;
    }
    div{
        margin:1rem auto;
        border:2px solid black;
        width:47.5%;
        height:92.5%;
        overflow-y: scroll;
    }
    ul{
        width:95%;
        @include cleanUl;
    }
    li{
        margin-top:20px;
    }
}

.frontUserGuideContainer{
    h3, li{
        color:white;
    }
}

.backDashHelpContainer{
    background-color:$backDashBackgroundColor;
}

.backUserGuideContainer{
    h3{
        color:black;
    }
    div{
        ul{
            display:block;
        }
        li{
            display:block;
            margin:1.5rem auto;
            cursor:auto;
        }
    }
    
}
