@import './setup.scss';
@import './variables.scss';

@import './login.scss';

@import './frontdash.scss';
@import './summarytab.scss';
@import './tabletab.scss';
@import './menutab.scss';
@import './checktab.scss';
@import './paymenttab.scss';

@import './backenddash.scss';
@import './menudata.scss';
@import './employeedata.scss';

html{
    font-size:125%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:$backgroundColor;
}
body{
    margin:0;
    padding:0;
}

body.adminOpen{
    overflow-y: hidden;
}

.App{
    button{
        cursor: pointer;
    }
}
