@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.landingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}
.landingContainer button.infoButton p {
  top: 30%;
  left: -20%;
}
.landingContainer button.infoButton p.adminSkip {
  top: 5%;
}

.loginPad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px solid black;
  width: 500px;
  height: 525px;
}

.loginLogo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 80%;
}
.loginLogo h1 {
  margin: 0 auto;
  color: #fc466b;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 55%;
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
  width: 60%;
}
.loginLogo h1:active {
  border: 4px solid #fc466b;
}
.loginLogo button {
  height: 100%;
  width: 100%;
  background-color: #4a5e6b;
  font-size: 12rem;
  border: none;
}

.appLandingInfo {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.appLandingInfo .appLandingInfoNav {
  position: relative;
}
.appLandingInfo button.infoButton {
  position: absolute;
  left: 5%;
}
.appLandingInfo button.infoButton p {
  top: 40%;
}
.appLandingInfo h2 {
  color: #fc466b;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 46%;
  transform: translateX(-50%);
}
.appLandingInfo .ulsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0rem;
  width: 95%;
}
.appLandingInfo ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.appLandingInfo img {
  width: 100px;
}
.appLandingInfo li {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.appLandingInfo p {
  margin: 10px auto;
  line-height: 1.1;
  color: white;
}
.appLandingInfo .qAndA {
  width: 90%;
  overflow-y: scroll;
}
.appLandingInfo .qAndA li {
  border-bottom: 2px solid #fc466b;
}
.appLandingInfo .junoCollege {
  text-decoration: none;
  color: #ea593e;
}
.appLandingInfo .squirrelLink {
  margin: 0 auto;
}
.appLandingInfo .tristanLinks {
  width: 5%;
  display: flex;
  flex-direction: column;
}
.appLandingInfo .tristanLinks li {
  margin: 100px auto;
}

.landingLowerNav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 1000px) and (max-width: 1423px) {
  .appLandingInfo .ulsContainer {
    width: 98%;
  }
  .appLandingInfo .qAndA {
    width: 90%;
  }
  .appLandingInfo .tristanLinks {
    width: 10%;
  }
}
.frontDash {
  height: 100vh;
}

.summaryTab, .tableTab, .menuTab, .checkTab, .paymentTab {
  position: relative;
  height: 92.5vh;
}
.summaryTab .infoButton, .tableTab .infoButton, .menuTab .infoButton, .checkTab .infoButton, .paymentTab .infoButton {
  background-color: #4a5e6b;
}
.summaryTab .infoButton button, .tableTab .infoButton button, .menuTab .infoButton button, .checkTab .infoButton button, .paymentTab .infoButton button {
  background-color: #4a5e6b;
  border: 2px solid #4a5e6b;
  padding: 0;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .summaryTab button.infoButton p, .tableTab button.infoButton p, .menuTab button.infoButton p, .checkTab button.infoButton p, .paymentTab button.infoButton p {
    width: 75px;
  }
}
.menuTab, .checkTab, .summaryTabDisplayContainer, .paymentTab {
  display: flex;
}

.frontDashTopNav {
  height: 7.5vh;
  border-bottom: 4px solid black;
  display: flex;
  align-items: center;
}
.frontDashTopNav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.frontDashTopNav li {
  cursor: pointer;
  color: white;
  font-size: clamp(1.25rem, 0.5328rem + 1.6393vw, 2.5rem);
}
.frontDashTopNav .activeTopNav {
  text-decoration: underline;
}

.frontLowerNav {
  background-color: #4a5e6b;
  border-top: 4px solid black;
  height: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.frontLowerNav button {
  cursor: pointer;
}
.frontLowerNav ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.frontLowerNav ul, .frontLowerNav li, .frontLowerNav button {
  height: 100%;
}
.frontLowerNav .workingButton, .frontLowerNav .nonWorkingButton, .frontLowerNav li {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.frontLowerNav .workingButton, .frontLowerNav .nonWorkingButton, .frontLowerNav .navCurrentUser {
  font-size: clamp(0.8rem, 0.3125rem + 0.7813vw, 1.5rem);
}
.frontLowerNav .workingButton {
  border: 2px solid darkgreen;
  background-color: green;
}
.frontLowerNav button.workingButton:active {
  background-color: #009a00;
}
.frontLowerNav .nonWorkingButton {
  border-color: darkred;
  background-color: darkred;
}
.frontLowerNav button.nonWorkingButton:active {
  background-color: #ff1a1a;
}
.frontLowerNav li {
  width: clamp(5rem, 2.1429rem + 4.4643vw, 7.5rem);
  display: flex;
  align-items: center;
}
.frontLowerNav button {
  width: 100%;
}
.frontLowerNav button.infoButton p {
  transform: translateX(-50%);
  left: 50%;
  font-size: clamp(1rem, 0.3125rem + 0.7813vw, 1.25rem);
}

@media (min-width: 700px) and (max-width: 1420px) {
  .frontLowerNav button.infoButton {
    scale: 0.95;
  }
}
.navCurrentUser {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: darkblue;
}

.summaryTabDisplayContainer {
  margin: 0 auto;
  width: 90%;
  height: 90%;
}

.backendDash, .employeeData, .menuData, .paymentData, .settingsData, .tableData, .scheduleData {
  height: 100vh;
  background-color: #bcbcbc;
}

.employeeData .backTitleAndInfo button.infoButton, .paymentData .backTitleAndInfo button.infoButton, .settingsData .backTitleAndInfo button.infoButton, .tableData .backTitleAndInfo button.infoButton, .scheduleData .backTitleAndInfo button.infoButton {
  transform: translateX(50%);
}

.settingsData, .paymentData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backendDash header {
  display: flex;
}
.backendDash .buttonContainer {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backendDash h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
}
.backendDash ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 5rem;
}
.backendDash li {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.backendDash img {
  height: clamp(10rem, -2.8571rem + 20.0893vw, 21.25rem);
  width: clamp(10rem, -2.8571rem + 20.0893vw, 21.25rem);
}
.backendDash .useableBackdash {
  color: darkgreen;
}
.backendDash .unUseableBackdash {
  color: darkred;
  opacity: 50%;
}
.backendDash .exitAdmin {
  transform: translateX(3rem);
}

.backTitleAndInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.backTitleAndInfo h2 {
  font-size: clamp(2rem, 1.4262rem + 1.3115vw, 3rem);
}

.backDataList {
  background-color: white;
  margin: 1rem auto;
  border: 2px solid black;
  max-width: 90%;
  height: 275px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.backDataList h3 {
  margin: 0.25rem auto 1rem;
  font-size: 1.5rem;
}
.backDataList ul {
  width: 100%;
  flex-wrap: wrap;
}
.backDataList li {
  width: 20%;
}
.backDataList button {
  margin: 0 auto;
}

.newItemButton {
  width: 250px;
  border-color: green;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 1.25rem;
}

@media (min-width: 700px) and (max-width: 1420px) {
  .newItemButton {
    width: 150px;
  }
}
.deleteItemButton {
  border-color: red;
  background-color: red;
}

button.newItemButton:active {
  background-color: #00b300;
}

button.deleteItemButton:active {
  background-color: #cc0000;
}

.keypad, .alphaNumericPad {
  border: 4px solid black;
  background-color: #4a5e6b;
  color: white;
}
.keypad td, .alphaNumericPad td {
  border: 2px solid black;
  color: black;
  cursor: pointer;
}
.keypad td:active, .alphaNumericPad td:active {
  background-color: #3d3d3d;
}
.keypad button, .alphaNumericPad button {
  width: 100%;
  background-color: #bcbcbc;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.keypad button:active, .alphaNumericPad button:active {
  background-color: #7c7c7c;
}
.keypad button.closePad, .alphaNumericPad button.closePad {
  background-color: #fc466b;
  border: 2px solid black;
}

.keypad {
  width: 500px;
  height: 525px;
  display: flex;
  flex-direction: column;
}
.keypad table {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 3rem;
}
.keypad tbody {
  text-align: center;
}
.keypad thead {
  font-size: 1.75rem;
}
.keypad td {
  width: 33.3333333333%;
}

.alphaNumericPad {
  width: 80%;
  height: 75%;
}
.alphaNumericPad tbody, .alphaNumericPad table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alphaNumericPad table, .alphaNumericPad tr {
  width: 100%;
}
.alphaNumericPad th {
  font-size: 3rem;
}
.alphaNumericPad tbody {
  width: 80%;
}
.alphaNumericPad tr {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.alphaNumericPad td {
  font-size: 4rem;
  width: 100%;
}
.alphaNumericPad p {
  margin-top: 2rem;
  text-transform: capitalize;
}

.padError, .padSuccess {
  text-align: center;
  margin: 1rem auto;
  width: 80%;
  font-weight: 600;
  font-size: 1.25rem;
  color: black;
}

.padError {
  background-color: #fc466b;
}

.checkTab .fireItAlert article, .paymentTab .fireItAlert article, .menuTab .fireItAlert article {
  width: 94%;
}
.checkTab .fireItAlert article p, .paymentTab .fireItAlert article p, .menuTab .fireItAlert article p {
  margin: 0 auto 1.25rem;
}

.padSuccess {
  background-color: lightgreen;
}

.closePad {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  background-color: #fc466b;
  border: 2px solid black;
}

button.closePad:active {
  background-color: #42010e;
}

.alphaNumModal {
  flex-direction: column;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 600px;
  background-color: #4a5e6b;
  border: 4px solid black;
}
.paymentDetails .closePad {
  height: 40px;
}
.paymentDetails h2 {
  margin: 0;
  text-align: center;
}
.paymentDetails .keypad {
  height: 325px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.paymentDetails .paymentInfoDisplay {
  height: 216.6666666667px;
  border: 4px solid black;
  background-color: white;
  width: 100%;
}
.paymentDetails .paymentsStatus {
  height: 27.0833333333px;
  margin: 0.5rem auto;
  width: 100%;
}
.paymentDetails .padError, .paymentDetails .padSuccess {
  width: 98%;
  margin: 0 auto;
}
.paymentDetails .paymentMethods, .paymentDetails .tipButtonsContainer {
  height: 54.1666666667px;
  display: flex;
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentDetails .paymentMethods {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin: 0.5rem auto;
}
.paymentDetails .tipButtonsContainer {
  justify-content: space-evenly;
}
.paymentDetails li {
  margin: 0 1rem;
}
.paymentDetails table {
  margin: 0 auto;
  width: 66%;
}
.paymentDetails button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentDetails img {
  height: 50px;
  width: 50px;
}
.paymentDetails .payment {
  cursor: pointer;
  margin-top: 5px;
}
.paymentDetails .deletePayment {
  width: 30px;
}

.paymentInfoDisplay {
  position: relative;
}
.paymentInfoDisplay ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  overflow-y: scroll;
}
.paymentInfoDisplay li {
  display: flex;
  width: 50%;
}
.paymentInfoDisplay .paymentType {
  text-transform: capitalize;
}
.paymentInfoDisplay .paymentAmount {
  text-align: center;
}
.paymentInfoDisplay .tipAmount {
  text-align: right;
}
.paymentInfoDisplay p {
  margin: 0;
  width: 33.3333333333%;
}
.paymentInfoDisplay .paymentsCalculations {
  margin: 0;
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.paymentInfoDisplay h3, .paymentInfoDisplay h4 {
  margin: 0;
  width: 50%;
  text-align: center;
}

.tipButtonsContainer button {
  height: 50px;
  width: 150px;
  background-color: #bcbcbc;
  border-radius: 10px;
  border: 4px solid black;
  font-size: 1.75rem;
}
.tipButtonsContainer button:active {
  background-color: #3d3d3d;
}

.frontDash .fireItAlert, .frontDash .fireItLoading {
  background-color: #4a5e6b;
}

.menuData .fireItAlert, .menuData .fireItLoading, .tableData .fireItAlert, .tableData .fireItLoading, .settingsData .fireItAlert, .settingsData .fireItLoading, .paymentData .fireItAlert, .paymentData .fireItLoading, .employeeData .fireItAlert, .employeeData .fireItLoading {
  background-color: #bcbcbc;
}
.menuData .infoButton button, .tableData .infoButton button, .settingsData .infoButton button, .paymentData .infoButton button, .employeeData .infoButton button {
  background-color: #bcbcbc;
}

.fireItAlert, .fireItLoading {
  height: 400px;
  width: 400px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fireItAlert .padError, .fireItLoading .padError {
  margin: 2rem auto;
}

.fireItLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popUpModal .fireItAlert button.infoButton, .popUpModal .messageOfTheDay button.infoButton {
  margin-top: 1rem;
  font-size: 4rem;
  border: none;
}
.popUpModal .fireItAlert p, .popUpModal .messageOfTheDay p {
  text-transform: capitalize;
  width: 200px;
  font-size: 1.25rem;
  top: 20%;
  left: -55%;
}
.popUpModal .fireItAlert footer p, .popUpModal .messageOfTheDay footer p {
  width: 100%;
  text-align: center;
}
.popUpModal .fireItLoading button.infoButton {
  font-size: 10rem;
}
.popUpModal .fireItLoading p {
  transform: translateX(-50%);
  font-size: 2.5rem;
  width: 300px;
  left: 50%;
}

.employeeData .fireItAlert button.infoButton p {
  top: 23%;
  left: -46%;
}

.checkModifyContainer {
  border: 4px solid black;
  width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #4a5e6b;
}
.checkModifyContainer h3 {
  text-align: center;
}
.checkModifyContainer ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.checkModifyContainer li {
  margin: 1rem auto;
}
.checkModifyContainer li button {
  width: 250px;
  height: 50px;
  border-radius: 10px;
}

.confirmPromoDeleteContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.confirmPromoDeleteContainer h4 {
  margin: 0 auto;
}
.confirmPromoDeleteContainer button {
  background-color: #bcbcbc;
  margin: 20px auto;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.confirmPromoDeleteContainer button:active {
  background-color: #7c7c7c;
}

.fireItAlertConfirmContainer {
  display: flex;
  justify-content: space-evenly;
}
.fireItAlertConfirmContainer .doAction, .fireItAlertConfirmContainer .dontDoAction {
  border-radius: 10px;
  width: 125px;
}
.fireItAlertConfirmContainer .doAction {
  border-color: green;
  background-color: green;
}
.fireItAlertConfirmContainer .dontDoAction {
  border-color: yellow;
  background-color: yellow;
}

.frontDashHelpContainer, .backDashHelpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 90%;
  border: 4px solid black;
}

.frontDashHelpContainer, .messageOfTheDay {
  background-color: #4a5e6b;
}

.frontDashHelpNav {
  width: 80%;
  margin: 10px auto 0px;
  display: flex;
  justify-content: space-evenly;
}
.frontDashHelpNav button {
  width: 250px;
  height: 50px;
}

.frontUserGuideContainer, .backUserGuideContainer {
  height: 99%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.frontUserGuideContainer h2, .backUserGuideContainer h2 {
  text-align: center;
  margin-top: 0;
}
.frontUserGuideContainer div, .backUserGuideContainer div {
  margin: 1rem auto;
  border: 2px solid black;
  width: 47.5%;
  height: 92.5%;
  overflow-y: scroll;
}
.frontUserGuideContainer ul, .backUserGuideContainer ul {
  width: 95%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.frontUserGuideContainer li, .backUserGuideContainer li {
  margin-top: 20px;
}

.frontUserGuideContainer h2, .frontUserGuideContainer li, .messageOfTheDay h2, .messageOfTheDay li {
  color: white;
}

.backDashHelpContainer {
  background-color: #bcbcbc;
}

.backUserGuideContainer div {
  height: 92.5%;
}
.backUserGuideContainer div ul {
  display: block;
}
.backUserGuideContainer div li {
  display: block;
  margin: 1.5rem auto;
  cursor: auto;
}

.frontCodeInsights {
  margin-top: 1rem;
  border: 2px solid black;
  overflow-y: scroll;
  width: 96%;
  height: 80%;
}
.frontCodeInsights h2 {
  color: white;
  text-align: center;
}
.frontCodeInsights ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 96%;
}
.frontCodeInsights li {
  color: white;
  margin: 1.5rem auto;
}
.frontCodeInsights h3 {
  text-decoration: underline;
}

.backCodeInsights h3 {
  text-align: left;
  text-decoration: underline;
}

.messageOfTheDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 60%;
  border: 4px solid black;
  position: relative;
}
.messageOfTheDay .infoButton button {
  background-color: #4a5e6b;
}
.messageOfTheDay h2 {
  font-size: 2rem;
  margin: 0.5rem auto 0;
}
.messageOfTheDay h3 {
  color: white;
  text-align: center;
}
.messageOfTheDay h4 {
  background-color: black;
  border-radius: 20px;
  width: clamp(18.75rem, 10.2273rem + 22.7273vw, 37.5rem);
  color: #bcbcbc;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.messageOfTheDay h5 {
  color: white;
}
.messageOfTheDay p {
  color: white;
  font-size: 1.5rem;
}
.messageOfTheDay .welcomeMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.messageOfTheDay .welcomeMessage footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.messageOfTheDay .welcomeMessage ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.messageOfTheDay .welcomeMessage img {
  width: 100px;
}

.activeCheck, .seperatedCheck, .allOnOneCheck {
  background-color: white;
  border: 4px solid black;
  overflow-y: scroll;
}
.activeCheck h2, .activeCheck h3, .seperatedCheck h2, .seperatedCheck h3, .allOnOneCheck h2, .allOnOneCheck h3 {
  margin: 0.5rem auto;
  text-align: center;
}
.activeCheck footer, .seperatedCheck footer, .allOnOneCheck footer {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.activeCheck .seatItemList, .seperatedCheck .seatItemList, .allOnOneCheck .seatItemList {
  cursor: pointer;
}

.activeCheck {
  width: 20%;
  height: 90%;
}
.activeCheck th {
  text-align: left;
}

.summaryTabDisplayContainer .activeCheck {
  width: 70%;
  height: 100%;
}
.summaryTabDisplayContainer .seatsAndOrders {
  display: flex;
  flex-wrap: wrap;
}
.summaryTabDisplayContainer table {
  margin: 1rem 2rem;
  width: calc(33.3333333333% - 4rem);
}
.summaryTabDisplayContainer footer {
  font-weight: bold;
  text-decoration: underline;
  width: 50%;
}

.paymentTab .activeCheck {
  width: 30%;
}

.checkSeatInfo, .receiptSeatInfo, .pendingSeperateSeat, .allOnOneSeatInfo {
  width: 80%;
  margin: 10px auto;
}
.checkSeatInfo .checkItemCost, .checkSeatInfo .receiptItemCost, .receiptSeatInfo .checkItemCost, .receiptSeatInfo .receiptItemCost, .pendingSeperateSeat .checkItemCost, .pendingSeperateSeat .receiptItemCost, .allOnOneSeatInfo .checkItemCost, .allOnOneSeatInfo .receiptItemCost {
  text-align: right;
}

.checkTab .seatsAndOrders {
  cursor: pointer;
}
.checkTab .seatTransferReminder {
  background-color: lightgreen;
  color: black;
}
.checkTab .receiptSeatInfo {
  cursor: pointer;
}
.checkTab .allOnOneCheck {
  color: darkblue;
}
.checkTab .allOnOneCheck th, .checkTab .allOnOneCheck td, .checkTab .allOnOneCheck h3 {
  background-color: lightblue;
  cursor: default;
}
.checkTab .splitEvenContainer {
  margin: 0 auto;
  width: 90%;
}
.checkTab .splitEvenContainer p {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  background-color: lightgreen;
}
.checkTab h2 {
  width: 80%;
  text-align: center;
}

.pendingOrder, .pendingSeat, .pendingSeperateSeat {
  color: blue;
  background-color: lightblue;
  cursor: pointer;
}

.pendingDeleteReminder::before {
  content: "❌";
}

.itemModifyReminder::before {
  content: "🔄";
}

.checkTabDisplay {
  width: 80%;
  height: 90%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkTabDisplay h2 {
  color: white;
  margin: 0 auto;
  font-size: clamp(1rem, 0.8566rem + 0.3279vw, 1.25rem);
}

.seperatedChecksContainer {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.seperatedCheck, .allOnOneCheck {
  height: 400px;
}

.summaryReceipts {
  border: 4px solid black;
  width: 40%;
  overflow-y: scroll;
}
.summaryReceipts h2 {
  text-align: center;
  color: #fc466b;
  margin: 0.5rem auto;
}
.summaryReceipts ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summaryReceipts button {
  height: 300px;
  width: 250px;
  margin: 1rem 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summaryReceipts .unSettledReceipt {
  background-color: lightpink;
}
.summaryReceipts .settledReceipt {
  background-color: lightgreen;
}
.summaryReceipts table {
  width: 100%;
  height: 100%;
}
.summaryReceipts tbody {
  overflow-y: scroll;
}
.summaryReceipts td {
  text-align: center;
}
.summaryReceipts .receiptSavedPayments {
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
  font-size: 1rem;
}

@media (min-width: 1000px) and (max-width: 1220px) {
  .activeCheck {
    width: 30%;
  }
  .checkTabDisplay {
    width: 70%;
  }
  .seperatedChecksContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1220px) and (max-width: 1420px) {
  .activeCheck {
    width: 25%;
  }
  .checkTabDisplay {
    width: 75%;
  }
  .seperatedChecksContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1420px) and (max-width: 1619px) {
  .activeCheck {
    width: 25%;
  }
  .checkTabDisplay {
    width: 75%;
  }
  .seperatedChecksContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
html {
  font-size: 125%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #4a5e6b;
}

body {
  margin: 0;
  padding: 0;
}

body.adminOpen {
  overflow-y: hidden;
}

.App button {
  cursor: pointer;
}

button.testButton {
  background-color: yellow;
  border: 4px solid red;
  color: black;
  border-radius: 10px;
  text-transform: uppercase;
}

button.infoButton {
  font-size: 3.5rem;
  position: relative;
  border: none;
  background-color: transparent;
}
button.infoButton p {
  position: absolute;
  color: #fc466b;
  background: black;
  border-radius: 10px;
  font-size: 1rem;
  top: 30%;
  left: -20%;
  width: 120px;
  text-align: center;
  font-weight: bold;
}

.popUpModal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.errorPage h2 {
  color: white;
}

.menuDirectoryContainer {
  border: 4px solid black;
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuDirectoryContainer h3 {
  color: white;
}

.menuDirectoriesScreen {
  width: 100%;
}
.menuDirectoriesScreen ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.menuDirectoriesScreen li {
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.875rem, 0.5893rem + 2.0089vw, 3rem);
}
.menuDirectoriesScreen button {
  border-radius: 10px;
  width: clamp(15rem, 3.5714rem + 17.8571vw, 25rem);
  background-color: #bcbcbc;
}
.menuDirectoriesScreen button:active {
  background-color: #898989;
}

.menuSubcategoryContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.menuSubcategoryScreen {
  margin: 0 auto;
  width: 90%;
  height: calc(100% - 60px);
}
.menuSubcategoryScreen h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.menuSubcategoryScreen ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.menuSubcategoryScreen li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 33.3333333333%;
  text-align: center;
}
.menuSubcategoryScreen button {
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: white;
  border: 2px solid darkblue;
  background-color: darkblue;
}

.alcoholSubcategoryNav {
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-evenly;
}
.alcoholSubcategoryNav button {
  width: clamp(6.25rem, -0.8929rem + 11.1607vw, 12.5rem);
  height: 50px;
  font-size: clamp(1.25rem, 0.9643rem + 0.4464vw, 1.5rem);
  background-color: #bcbcbc;
  border-radius: 10px;
  border: 2px solid #bcbcbc;
}
.alcoholSubcategoryNav button:active {
  background-color: #7c7c7c;
}
.alcoholSubcategoryNav .activeSub {
  background-color: green;
}

.menuCategoryNav {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 90%;
}
.menuCategoryNav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.menuCategoryNav button {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #bcbcbc;
}
.menuCategoryNav button:active {
  background-color: #7c7c7c;
}

@media (min-width: 1000px) and (max-width: 1420px) {
  .menuDirectoryContainer {
    width: 70%;
  }
  .menuSubcategoryScreen li {
    width: 50%;
  }
}
@media (min-width: 1420px) and (max-width: 1620px) {
  .menuDirectoryContainer {
    width: 75%;
  }
  .activeCheck {
    width: 25%;
  }
}
.tableDisplay {
  background-color: black;
  height: 92.5vh;
  margin: 0;
  display: flex;
}
.tableDisplay .tableMap {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tableDisplay .tableMap li {
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.table {
  border: 1px solid black;
  background-color: green;
  color: white;
  font-size: 1.3rem;
}

.tableInUse {
  background-color: #fc466b;
  color: black;
}

.diamondTable {
  rotate: 45deg;
  width: 100px;
  height: 100px;
  position: relative;
}
.diamondTable p {
  margin: 0 auto;
  rotate: -45deg;
  position: absolute;
  top: 35%;
  transform: translateX(-50%);
  left: 19%;
  transform: translateY(-50%);
  width: 100%;
}

.squareTable {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangleTable {
  width: 200px;
  height: 100px;
}
.rectangleTable p {
  margin-left: 54px;
  margin-top: 35px;
}

.circleTable {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.tableData header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #bcbcbc;
  height: 7.5vh;
}
.tableData button.infoButton p {
  top: 30%;
  left: -20%;
}

.updateMapNav {
  position: absolute;
  bottom: 0;
  left: 5%;
  border: 2px solid white;
  height: 10%;
  width: 90%;
  z-index: 1;
}
.updateMapNav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.updateMapNav button.enableDrag {
  width: 300px;
}

.tableMapDirections {
  color: white;
  text-align: center;
}

.tableFormContainer {
  border: 4px solid white;
  width: 600px;
  height: 700px;
  background-color: #4a5e6b;
  display: grid;
  grid-template-rows: 1fr, 4fr, 1fr;
}
.tableFormContainer h2 {
  text-align: center;
  margin: 1rem auto -1rem;
  color: white;
}
.tableFormContainer legend, .tableFormContainer label {
  color: white;
}
.tableFormContainer fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tableFormContainer .padError {
  margin: 0 auto;
  height: 40px;
}
.tableFormContainer footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tableFormContainer .padError {
  height: 30px;
}

.tableFormStyle {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 0 auto;
}

.tableFormName {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin: 1rem;
}

.demoTable {
  transform: scale(0.75);
  margin: 15px auto;
}

.serversTablesList {
  width: 30%;
  border: 4px solid black;
  background-color: darkblue;
  overflow-y: scroll;
}
.serversTablesList h3 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 0;
}
.serversTablesList ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.serversTablesList li {
  margin: 2rem auto;
  width: 80%;
}
.serversTablesList button {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media (min-width: 700px) and (max-width: 1419px) {
  .updateMapNav {
    height: 25%;
  }
  .updateMapNav button.enableDrag {
    width: 200px;
  }
  .updateMapNav li {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }
  .updateMapNav p {
    margin: 0;
  }
  .tableData header {
    width: 100%;
  }
}
@media (min-width: 1420px) and (max-width: 1619px) {
  .updateMapNav p {
    margin: 0;
  }
  .tableData header {
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  .tableDisplay .tableMap {
    scale: 0.4;
    margin: -175px 0 0 -225px;
  }
}
@media (min-width: 1000px) and (max-width: 1119px) {
  .tableDisplay .tableMap {
    scale: 0.59;
    margin: -150px 0 0 -225px;
  }
}
@media (min-width: 1120px) and (max-width: 1219px) {
  .tableDisplay .tableMap {
    scale: 0.65;
    margin: -125px 0 0 -200px;
  }
}
@media (min-width: 1220px) and (max-width: 1319px) {
  .tableDisplay .tableMap {
    scale: 0.7;
    margin: -100px 0 0 -175px;
  }
}
@media (min-width: 1320px) and (max-width: 1419px) {
  .tableDisplay .tableMap {
    scale: 0.75;
    margin: -75px 0 0 -150px;
  }
}
@media (min-width: 1420px) and (max-width: 1519px) {
  .tableDisplay .tableMap {
    scale: 0.8;
    margin: -25px 0 0 -150px;
  }
}
@media (min-width: 1520px) and (max-width: 1719px) {
  .tableDisplay .tableMap {
    scale: 0.9;
    margin: 0 0 0 -125px;
  }
}
.menuData header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;
}
.menuData h2 {
  font-size: clamp(1.25rem, 0.2459rem + 2.2951vw, 3rem);
}
.menuData button.infoButton {
  width: 250px;
}
.menuData button.infoButton p {
  top: 30%;
  left: 27%;
}
.menuData ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.menuData li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
  cursor: pointer;
}
.menuData img {
  width: 50px;
}
.menuData div:last-child {
  background-color: #bcbcbc;
}

.alcoholNavButtons {
  display: flex;
  justify-content: space-around;
}
.alcoholNavButtons button {
  width: clamp(8rem, 5.7143rem + 3.5714vw, 10rem);
  font-size: 1.15rem;
  border-radius: 10px;
  background-color: #4a5e6b;
  color: white;
}
.alcoholNavButtons button:active {
  background-color: #5f7889;
}

.menuItemForm {
  background-color: #bcbcbc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}
.menuItemForm div, .menuItemForm fieldset {
  margin: 1rem auto;
}
.menuItemForm .taxGroup, .menuItemForm .printerRoute {
  margin: 2rem auto;
}
.menuItemForm .taxGroup label, .menuItemForm .printerRoute label {
  font-weight: bold;
}
.menuItemForm .updateButtons {
  display: flex;
  flex-direction: column;
}
.menuItemForm .updateButtons button {
  margin: 10px auto;
}

.itemTypes {
  height: 300px;
  width: 200px;
}
.itemTypes h4 {
  margin: 0 auto;
  text-transform: capitalize;
}

.itemPopUps {
  width: 350px;
  height: 300px;
  overflow-y: scroll;
}
.itemPopUps h4 {
  margin: 0 auto;
  text-align: center;
}

.popUpButtonsContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpButtonsContainer button {
  margin: 0 5px;
  width: 40%;
}

.popUpOptions {
  width: 80%;
}
.popUpOptions h5 {
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: center;
}

@media (min-width: 1000px) and (max-width: 1419px) {
  .menuData ul {
    width: 100%;
  }
  .menuItemForm {
    max-width: 98%;
    overflow-y: scroll;
  }
  .menuItemForm div, .menuItemForm fieldset {
    margin: 0.5rem auto;
  }
  .menuItemForm .taxGroup, .menuItemForm .printerRoute {
    margin: 0.5rem auto;
  }
}
@media (min-width: 1420px) and (max-width: 1619px) {
  .menuData .backDashHeader .infoButton {
    right: 22%;
  }
}
@media (min-width: 1620px) and (max-width: 1819px) {
  .menuData .backDashHeader .infoButton {
    right: 27%;
  }
}
.employeeData header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #bcbcbc;
  height: 7.5%;
}
.employeeData h3 {
  text-align: center;
}
.employeeData button.infoButton p {
  top: 30%;
  left: -20%;
}

.employeeDataContainer {
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  width: 60%;
  height: 32.5%;
  overflow-y: scroll;
}
.employeeDataContainer table {
  width: 100%;
  text-align: center;
}
.employeeDataContainer th {
  border-bottom: 2px solid black;
}
.employeeDataContainer tr {
  cursor: pointer;
}
.employeeDataContainer td {
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  width: 33.3333333333%;
  font-size: 1.25rem;
}

.employeeDetails {
  padding-top: 1rem;
  height: 60%;
}

.employeeForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 96%;
  height: 80%;
  margin: 0 auto;
  overflow-y: scroll;
}
.employeeForm input {
  width: 100%;
  height: 35px;
}
.employeeForm textarea {
  height: 100%;
  width: 100%;
}
.employeeForm p {
  margin: 0;
}
.employeeForm .formSubContainer {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.employeeForm .employeeNumbers {
  display: flex;
}
.employeeForm .employeeNumbers div {
  width: 32%;
  margin: 0 auto;
}
.employeeForm .dateAndPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.employeeForm .dateAndPlaceholder div:first-child {
  width: 55%;
}
.employeeForm .dateAndPlaceholder div:nth-child(2) {
  width: 45%;
}
.employeeForm .calendarPlaceholder {
  height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  background-color: white;
  padding: 1px 2px;
}
.employeeForm .notesAndButtons {
  height: 125px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.employeeForm .formNotes, .employeeForm .employeeButtonContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.employeeSubmit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
div.employeeSubmit button:first-child {
  border: 2px solid green;
}
div.employeeSubmit button:nth-child(2) {
  border: 2px solid red;
}

.employeeActivateFirebase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20%;
}
.employeeActivateFirebase h3, .employeeActivateFirebase p {
  margin: 0 auto;
}

@media (min-width: 700px) and (max-width: 1419px) {
  .employeeData header {
    width: 100%;
  }
  .employeeForm .formSubContainer {
    width: 45%;
  }
  .employeeForm .employeeNumbers {
    margin-top: -0.5rem;
  }
}
.scheduleData .backTitleAndInfo {
  width: 90%;
  justify-content: space-evenly;
  height: 7.5%;
}
.scheduleData .backTitleAndInfo button.infoButton {
  transform: translateY(5%);
}

.schedule h3 {
  text-align: center;
}
.schedule table {
  table-layout: fixed;
  border-collapse: collapse;
}
.schedule tbody, .schedule thead {
  text-transform: capitalize;
}
.schedule tbody tr, .schedule thead tr {
  height: 3rem;
}
.schedule tbody td, .schedule thead td {
  width: 8rem;
}
.schedule .todaySave {
  width: 150px;
}
.schedule .save {
  text-align: right;
}
.schedule .dayAdjust {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: darkblue;
  background-color: darkblue;
  color: white;
  width: 100px;
}
.schedule .dayAdjust:active {
  background-color: #0000be;
}
.schedule .prevDay {
  text-align: right;
}
.schedule .date {
  border: 4px solid black;
  text-align: center;
}
.schedule .employeeRow {
  border: 4px solid black;
}
.schedule .scheduleShift {
  border: 4px solid black;
}
.schedule .shiftData {
  padding-left: 5px;
}/*# sourceMappingURL=index.css.map */