@import './variables.scss';

.loginContainer{
    @include flexCenterCenter;
    height:100vh;
    flex-direction: column;
    position:relative;

    h1{
        text-transform: uppercase;
        font-size:3rem;
        margin:0 auto;
    }
    .demoGuide{
        position:absolute;
        top:0px;
        font-size:2rem;

        p{
            margin:0;
        }
    }
}

.keypad{
    border: 5px solid black;
    width:500px;
    height:475px;
    display:flex;
    flex-direction:column;
    background-color:$backgroundColor;
    
    table{
        width:80%;
        margin:0 auto;
        font-size:3rem;
    }
    tbody{
        text-align:center;
    }
    thead{
        font-size:1.75rem;
    }
    td{
        border:2px solid black;
        width:calc(100% / 3);

        button{
            width:100%;
            background-color: $userKeyColor;
            border:none;
            cursor:pointer;
        }
    }
    td:active{
        background-color:darken($userKeyColor, 50%);
    }
    .padError{
        text-align:center;
        margin:1rem auto;
        background-color:$errorBackgroundColor;
        width:80%;
        font-weight: 600;
        font-size:1.25rem;
    }
}

.adminPad, .serverPad{
    @include popUpModal;
    @include flexCenterCenter;

    .keypad{
        height:525px;
    }
    table{
        margin-top:1rem;
    }
}

.closePad{
    width:100%;
    height:50px;
    font-size:1.5rem;
    background-color:$errorBackgroundColor;
    border:2px solid black;
}