@import './variables.scss';

.keypad, .alphaNumericPad{
    border: 4px solid black;
    background-color:$backgroundColor;
    color:white;

    td{
        border:2px solid black;
        color:black;
        cursor: pointer;
    }
    td:active{
        background-color:darken($backDashBackgroundColor, 50%);
    }
    button{
        width:100%;
        background-color: $backDashBackgroundColor;
        border:none;
        cursor:pointer;
        text-transform: uppercase;
    }
    button:active{
        background-color:darken($backDashBackgroundColor, 25%);
    }
    button.closePad{
        background-color:$fireItColor;
        border:2px solid black;
    }
}

.keypad{
    width:500px;
    height:525px;
    display:flex;
    flex-direction:column;
    
    table{
        width:80%;
        margin:0 auto;
        margin-top:1rem;
        font-size:3rem;
    }
    tbody{
        text-align:center;
    }
    thead{
        font-size:1.75rem;
    }
    td{
        width:calc(100% / 3);
    }
}

.alphaNumericPad{
    width:80%;
    height:75%;

    tbody, table{
        @include flexCenterCenter;
        flex-direction: column;
    }
    table, tr{
        width:100%;
    }
    th{
        font-size:3rem;
    }
    tbody{
        width:80%;
    }
    tr{
        display:flex;
        justify-content: space-evenly;
        text-align: center;
    }
    td{
        font-size: 4rem;
        width:100%;
    }
    p{
        margin-top:2rem;
        text-transform: capitalize;
    }
}

.padError, .padSuccess{
    text-align:center;
    margin:1rem auto;
    width:80%;
    font-weight: 600;
    font-size:1.25rem;
}

.padError{
    background-color:$fireItColor;
}

.padSuccess{
    background-color:lightgreen;
}

.closePad{
    width:100%;
    height:50px;
    font-size:1.5rem;
    background-color:$fireItColor;
    border:2px solid black;
}

button.closePad:active{
    background-color:darken($fireItColor, 50%);
}

.alphaNumModal{
    flex-direction: column;
}

.paymentDetails{
    @include flexColumnCenter;
    height:700px;
    width:600px;
    background-color:$backgroundColor;
    border:4px solid black;

    .closePad{
        height:40px;
    }
    h2{
        margin:0;
        text-align: center;
    }
    .keypad{
        height:325px;
        width:100%;
        @include flexCenterCenter;
        border:none;
    }
    .paymentInfoDisplay{
        height:calc(325px * (2/3));
        border:4px solid black;
        background-color: white;
        width:100%;
    }
    .paymentsStatus{
        height:calc(325px * (1/12));
        margin:0.5rem auto;
        width:100%;
    }
    .padError, .padSuccess{
        width:98%;
        margin:0 auto;
    }
    .paymentMethods, .tipButtonsContainer{
        height:calc(325px * (1/6));
        display: flex;
        width:100%;
        margin:0.5rem auto;
        @include flexCenterCenter;
    }
    .paymentMethods{
        @include cleanUl;
        margin:0.5rem auto;
    }
    .tipButtonsContainer{
        justify-content: space-evenly;
    }
    li{
        margin:0 1rem;
    }
    table{
        margin:0 auto;
        width:66%;
    }
    button{
        @include flexCenterCenter;
    }
    img{
        height:50px;
        width:50px;
    }
    .payment{
        cursor: pointer;
        margin-top:5px;
    }
}

.paymentInfoDisplay{
    position:relative;

    ul{
        @include cleanUl;
        @include flexColumnCenter;
        height:60%;
        overflow-y: scroll;
    }
    li{
        display:flex;
        width:40%;
    }
    .paymentType{
        text-transform: capitalize;
    }
    .paymentAmount{
        text-align: center;
    }
    .tipAmount{
        text-align: right;
    }
    p{
        margin:0;
        width:calc(100% / 3);
    }
    .paymentsCalculations{
        margin:0;
        position:absolute;
        transform:translateX(-50%);
        bottom:0;
        left:50%;
        width:100%;
        display:flex;
        justify-content: space-evenly;
    }
    h3, h4{
        margin:0;
        width:50%;
        text-align: center;
    }
}

.tipButtonsContainer{
    button{
        height:50px;
        width:150px;
        background-color:$backDashBackgroundColor;
        border-radius:10px;
        border:4px solid black;
        font-size: 1.75rem;
    }
    button:active{
        background-color:darken($backDashBackgroundColor, 50%);
    }
}