@import './variables.scss';

.loginContainer{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;

    .keypad{
        border: 5px solid black;
        height:500px;
        width:500px;
        display:flex;
        flex-direction:column;
    }
    table{
        height:80%;
        width:80%;
        margin:0 auto;
        font-size:3rem;
    }
    tbody{
        text-align:center;
    }
    thead{
        text-transform:uppercase;
    }
    td{
        border:2px solid black;
        background-color: $userKeyColor;
    }
    .nonClickTable{
        border:none;
        background-color:$backgroundColor;
    }
    form{
        width:80%;
        margin:1rem auto;
        display:flex;
        flex-direction:column;
    }
    form div{
        display:flex;
        margin:0 auto;
    }
    input{
        width:75px;
        display:none;
    }
    button{
        height:50px;
        border:$buttonColor;
        background-color:$buttonColor;
        font-size: 1.5rem;
    }
    button:disabled{
        display:none;
    }
}