@import './variables.scss';

.menuTab{
    position:relative;
    height:92.5vh;
    display:flex;
}

.activeCheck{
    position: relative;
    background-color: white;
    border:4px solid black;
    width:20%;
    height:90%;

    h2, h3{
        margin:0.5rem auto;
        text-align: center;
    }
    footer{
        margin:0 auto;
        width:90%;
        display:flex;
        justify-content: space-between;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
    }
}

.checkSeatInfo{
    width:80%;
    margin:10px auto;

    .checkItemCost{
        text-align: right;
    }
}

.menuTabNav{
    @include frontLowerNav;
    @include frontLowerNavUL;
}

.activeMenuCategory{
    border:4px solid black;
    width:80%;
    height:90%;
    @include flexCenterCenter;
}

.menuCategories{
    width:100%;

    ul{
        @include cleanUl;
        display:flex;
        flex-wrap: wrap;
    }
    li{
        width:50%;
        height:150px;
        @include flexCenterCenter;
        font-size:3rem;
    }
    button{
        border-radius:5px;
    }
}