@import './variables.scss';

.menuTab{
    position:relative;
    height:92.5vh;
    display:flex;
}

.activeCheck{
    border:2px solid lightcoral;
    width:20%;
    height:90%;

    h2{
        margin:0 auto;
        text-align: center;
    }
}

.menuTabNav{
    @include frontLowerNav;
    @include frontLowerNavUL;
}

.activeMenuCategory{
    border:2px solid lightseagreen;
    width:80%;
    height:90%;
    @include flexCenterCenter;
}

.menuCategories{
    width:100%;

    ul{
        @include cleanUl;
        display:flex;
        flex-wrap: wrap;
    }
    li{
        width:50%;
        height:150px;
        @include flexCenterCenter;
        font-size:3rem;
    }
    button{
        border-radius:5px;
    }
}