@import './variables.scss';

.menuTab{
    position:relative;
    height:92.5vh;
    display:flex;
}

.activeCheck{
    background-color: white;
    border:4px solid black;
    width:20%;
    height:90%;
    overflow-y: scroll;

    h2, h3{
        margin:0.5rem auto;
        text-align: center;
    }
    footer{
        margin:0 auto;
        width:90%;
        display:flex;
        justify-content: space-between;
    }
}

.checkSeatInfo{
    width:80%;
    margin:10px auto;

    .checkItemCost{
        text-align: right;
    }
}

.pendingOrder, .pendingSeat{
    color:blue;
    background-color: lightblue;
}

.checkModifyModal{
    @include popUpModal;
    @include flexCenterCenter;
}

.checkModifyContainer{
    border: 5px solid black;
    width:400px;
    height:400px;
    display:flex;
    flex-direction:column;
    color:white;
    background-color:$backgroundColor;

    h3{
        text-align: center;
    }
    ul{
        @include cleanUl;
    }
    li{
        margin:1rem auto;

        button{
            width:250px;
            height:50px;
        }
    }
    footer{
        width:90%;
        margin:2rem auto 0;
        display:flex;
        justify-content: space-evenly;

        button{
            width:100px;
            height:50px;
            font-size: 1.5rem;
        }
    }
}

.activeMenuCategory{
    border:4px solid black;
    width:80%;
    height:90%;
    @include flexCenterCenter;

    h3{
        color:white;
    }
}

.menuCategories{
    width:100%;

    ul{
        @include cleanUl;
        display:flex;
        flex-wrap: wrap;
    }
    li{
        width:50%;
        height:150px;
        @include flexCenterCenter;
        font-size:3rem;
    }
    button{
        border-radius:10px;
        width:500px;
        background-color:$backDashBackgroundColor;
    }
    button:active{
        background-color:darken($backDashBackgroundColor, 20%);
    }
}