@import './variables.scss';

.menuData{ 
    ul{
        @include cleanUl;
        display:flex;
        justify-content: space-evenly;
        width:80%;
    }
    li{
        @include flexColumnCenter;
        margin:1.5rem auto;
        cursor: pointer;
    }
    img{
        width:50px;
    }
    div:last-child{
        background-color: $backDashBackgroundColor;
    }
}

.alcoholNavButtons{
    display:flex;
    justify-content: space-around;

    button{
        width: clamp(8rem, 5.7143rem + 3.5714vw, 10rem);
        font-size: 1.15rem;
        border-radius:10px;
        background-color:$backgroundColor;
        color:white;
    }
    button:active{
        background-color:lighten($backgroundColor, 10%);
    }
}

.menuItemForm{
    background-color: $backDashBackgroundColor;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width:90%;
    margin:0 auto;

    div, fieldset{
        margin:1rem auto;
    }
    .taxGroup, .printerRoute{
        margin:2rem auto;
    }
    .updateButtons{
    display:flex;
    flex-direction:column;

        button{
            margin:10px auto;
        }
    }
}

.itemTypes{
    height:300px;
    width:200px;

    h4{
        margin:0 auto;
        text-transform: capitalize;
    }
}

.itemPopUps{
    width:350px;
    height:300px;
    overflow-y:scroll;

    h4{
        margin:0 auto;
        text-align: center;
    }
}

.popUpButtonsContainer{
    margin:0 auto;
    @include flexCenterCenter;

    button{
        margin:0 5px;
        width:40%;
    }
}

.popUpOptions{
    width:80%;

    h5{
        margin:0 auto;
        font-size:1.1rem;
        text-align: center;
    }
}

@media (min-width:1000px) and (max-width:1419px){
    .menuData{
        .backDashHeader{
            .infoButton{
                right:18%;
            }
        }
        ul{
            width:100%;
        }
    }
    .menuItemForm{
        max-width:98%;
        overflow-y: scroll;
    
        div, fieldset{
            margin:0.5rem auto;
        }
        .taxGroup, .printerRoute{
            margin:0.5rem auto;
        }
    }
}

@media (min-width:1420px) and (max-width:1619px){
    .menuData{
        .backDashHeader{
            .infoButton{
                right:22%;
            }
        }
    }
}

@media (min-width:1620px) and (max-width:1819px){
    .menuData{
        .backDashHeader{
            .infoButton{
                right:27%;
            }
        }
    }
}

