@import './variables.scss';

.settingsData{
    height:100vh;
    background-color: $backDashBackgroundColor;

    h2{
        text-align:center;
        font-size:3rem;
        margin:0 auto;
    }
    .backDashHelpButtonDiv{
        h3, button{
            left:65%;
        }
        h3{
            top:50%;
        }
        button{
            top:5%;
        }
    }
}