@import './variables.scss';

.tableBackDash{
    header{
        margin:0 auto;
        width:80%;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        
        button{
            width:200px;
        }
    }
    h2{
        // margin:20px auto;
        text-align: center;
    }
    
}
.tableTab{
    position:relative;
    height:92.5vh;
    background-color:black;

    h2{
        margin:0;
    }
    ul{
        margin:0 auto;
        padding:0;
        width:100%;
        list-style:none;
        display:flex;
        justify-content:space-evenly;
    }
}

.tableMap{
    height:100%;
    position:relative;

    li{
        position:absolute;
        cursor: pointer;
        transform:translate(-50%, -50%)
    }
}

.table{
    border:1px solid black;
    background-color:$buttonColor;
    color:white;
}

.diamondTable{
    rotate:(45deg);
    width:100px;
    height:100px;
    position: relative;
    
    p{
        margin:0 auto;
        rotate:(-45deg);
        position:absolute;
        top:30%;
        transform:translateX(-50%);
        left:20%;
        transform:translateY(-50%);
        width:100%;
    }
}

.squareTable{
    width:100px;
    height:100px;
    @include flexCenterCenter;
}

.rectangleTable{
    width:200px;
    height:100px;

    p{
        margin-left:69px;
        margin-top:35px;
    }
}

.circleTable{
    width:100px;
    height:100px;
    @include flexCenterCenter;
    border-radius:50%;
}

.updateMapNav{
    position:absolute;
    top:0;
    left:350px;
    border:2px solid white;
    height:4rem;
    width:60%;
    z-index: 1;

}

.tableMapDirections{
    color:white;
    text-align: center;
}

.tableTabNav{
    border-top:2px solid black;
    background-color:$backgroundColor;
    height:10%;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    align-items: center;
    cursor: pointer;
    
    button{
        cursor: pointer;
    }
}

.tableFormModal{
    position:fixed;
    z-index: 10;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    @include flexCenterCenter;
}

.tableFormContainer{
    border:2px solid white;
    width:750px;
    height:600px;
    background-color:$backgroundColor;
    display:grid;
    grid-template-rows:1fr, 4fr, 1fr;

    h2{
        text-align: center;
    }
    fieldset{
        display:flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
    }
    footer{
        text-align: center;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.tableFormStyle{
    border:1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:calc(100% / 2);
}

.tableFormName{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.demoTable{
    transform:scale(0.75);
    margin:15px auto;
}