$backgroundColor:#c1e0f7;
$userKeyColor:#bbdfc5;
$logoColor:#ffaf87;
$buttonColor:green;
$errorBackgroundColor:lightcoral;

@mixin flexCenterCenter{
    display:flex;
    align-items: center;
    justify-content: center;
}