$backgroundColor:#c1e0f7;
$userKeyColor:#bbdfc5;
$logoColor:#ffaf87;
$buttonColor:green;
$errorBackgroundColor:lightcoral;

// peach FFC09F && desert sand E4C5AF 
// rosy brown CA907E && puce BB7E8C
// redwine 6B2737
// sunset E6C79C  possibly with this pink: #fc466b as landing?


@mixin cleanUl{
    list-style:none;
    margin:0 auto;
    padding:0;
}

@mixin flexCenterCenter{
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin backDashHeader{
        margin:0 auto;
        width:80%;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
}

@mixin frontLowerNav{
    border-top:2px solid black;
    height:10%;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    align-items: center;
    cursor: pointer;
    
    button{
        cursor: pointer;
    }
}

@mixin frontLowerNavUL{
    ul{
        margin:0 auto;
        padding:0;
        width:100%;
        list-style:none;
        display:flex;
        justify-content:space-evenly;
    }
}

@mixin menuItemButton{
    text-transform: uppercase;
    width:250px;
    height:50px;
    border-radius:10px;
    color:white;
}

@mixin popUpModal{
    position:fixed;
    z-index: 10;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(49,49,49,0.8);
}